<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974778918990-63412ghdvmrse386plck5co0m4osoh60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974778918990-63412ghdvmrse386plck5co0m4osoh60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974778918990-5srscrvdkqu74qpooakushiv51m4f6jl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyRsNLUCj565KSKkjvTit5e2ZCSkG3aAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>974778918990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hdr.mobile</string>
	<key>PROJECT_ID</key>
	<string>home-doctor-de846</string>
	<key>STORAGE_BUCKET</key>
	<string>home-doctor-de846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974778918990:ios:12f30f6efd177121b1bb1f</string>
</dict>
</plist>