/* theme color */
$--color-primary: #3ac5c9;
$--color-secondary: #bee9eb;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-table .cell {
	word-break: keep-all;
}
.el-input.is-disabled .el-input__inner {
	color: #606266;
}
.el-message .el-message--info {
	background-color: #52ea52;
}
.el-message__icon .el-icon-info {
  color: black;
}
.el-carousel__container {
	height: 100%;
}
.el-dialog__header {
	background-color: #3ac5c9;
}